<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>New user</title>
</head>
<body>

<form th:action="@{/admin/user/create}" method="post">
    <div><label> Email : <input type="text" name="email" th:attr="value = ${userDto.email}"/> </label></div>
    <div><label> First name: <input type="text" name="firstName" th:attr="value = ${userDto.firstName}"/> </label></div>
    <div><label> Last name: <input type="text" name="lastName" th:attr="value = ${userDto.lastName}"/> </label></div>
    <div><label> Password: <input type="password" name="password" th:attr="value = ${userDto.password}"/> </label></div>
    <div><input type="submit" value="Create"/></div>
</form>

</body>
</html>